[Bb]in/
[Oo]bj/

*.received.txt
/.vs/TheatricalPlayersRefactoringKata
/.vs/TheatricalPlayersRefactoringKata/FileContentIndex
/.vs/TheatricalPlayersRefactoringKata/FileContentIndex/0e5c3d1a-ee43-42d9-aec0-e70d874ce9ba.vsidx
/.vs/TheatricalPlayersRefactoringKata/FileContentIndex/0edb5912-1b48-4350-a8f2-9355a7bce2db.vsidx
/.vs/TheatricalPlayersRefactoringKata/FileContentIndex/f99cfaf9-1ccc-4250-8dfd-7c754725db5b.vsidx
/.vs/TheatricalPlayersRefactoringKata/v17
/.vs/TheatricalPlayersRefactoringKata/v17/.suo
/.vs/TheatricalPlayersRefactoringKata/v17/DocumentLayout.backup.json
/.vs/TheatricalPlayersRefactoringKata/v17/DocumentLayout.json
